{% render 'partials/head.liquid' %}

<main>

  <h1>Squad page</h1>

  {% if liked %}
  <form method="post" action="/person/242/unlike">
    <button type="submit" name="message" value="">Unlike 💔</button>
    {% comment %} <input type="number" hidden name="personId" value="{{ person.id }}"> {% endcomment %}
  </form>
  {% else %}
  <form method="post" action="/person/242/like">
    <button type="submit">Like ❤️</button>
    {% comment %} <input type="number" hidden name="personId" value="{{ person.id }}"> {% endcomment %}
  </form>
  {% endif %}

  {% comment %} This is the Sort section {% endcomment %}
  <section class="sort-section">
    <h2>Sorteren op</h2>
    <ul class="sort-items">

      <li><a class="selected" href="/">Naam</a></li>
      <li><a href="/geboorte-oud-jong">Leeftijd</a></li>
      <li><a href="/hoek-vierkant-rond">Afgeronde hoeken</a></li>
    </ul>

    <ul class="sort-order">
      <li><a href="/">↑</a></li>
      <li><a class="opacity-arrow" href="/naam-Z-A">↓</a></li>
    </ul>
  </section>

  <section class="filter-section">
    <h2>Kies squad</h2>
    <div>

      {% if squad == '1I' %}
      <a href="/1I" class="squad1i active">1I</a>
      <a href="/1J" class="squad1j">1J</a>
      {% elsif squad == "1J" %}
      <a href="/1I" class="squad1i">1I</a>
      <a href="/1J" class="squad1j active">1J</a>
      {% else %}
      <a href="/1I" class="squad1i">1I</a>
      <a href="/1J" class="squad1j">1J</a>
      {% endif %}

    </div>

    {% if squad == '1I' %}
    <a href="/" class="squadall">Beide</a>
    {% elsif squad == "1J" %}
    <a href="/" class="squadall">Beide</a>
    {% else %}
    <a href="/" class="squadall active">Beide</a>
    {% endif %}

  </section>

  {% comment %} This is the carousel section {% endcomment %}
  <section class="carousel">
    <section class="slider">

      {% for person in persons %}

      <article class="student-card" style="--fav-color: {{ person.fav_color }};">
        <a href="/person/{{ person.id }}">
          <img style="border-radius: {{ person.fav_border_radius }}px" {% if person.mugshot %}
            src="https://fdnd.directus.app/assets/{{ person.mugshot }}" {% else %} src="assets/stockprofilepicture.png"
            {% endif %} alt="Mugshot picture">
        </a>

        <section class="student-information">
          <h3>{{ person.name }}</h3>
          <div class="like-container">
            <svg class="like-button" width="30" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"><!--!Font Awesome Free 7.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.-->
              <path class="heart-path"
                d="M378.9 80c-27.3 0-53 13.1-69 35.2l-34.4 47.6c-4.5 6.2-11.7 9.9-19.4 9.9s-14.9-3.7-19.4-9.9l-34.4-47.6c-16-22.1-41.7-35.2-69-35.2-47 0-85.1 38.1-85.1 85.1 0 49.9 32 98.4 68.1 142.3 41.1 50 91.4 94 125.9 120.3 3.2 2.4 7.9 4.2 14 4.2s10.8-1.8 14-4.2c34.5-26.3 84.8-70.4 125.9-120.3 36.2-43.9 68.1-92.4 68.1-142.3 0-47-38.1-85.1-85.1-85.1zM271 87.1c25-34.6 65.2-55.1 107.9-55.1 73.5 0 133.1 59.6 133.1 133.1 0 68.6-42.9 128.9-79.1 172.8-44.1 53.6-97.3 100.1-133.8 127.9-12.3 9.4-27.5 14.1-43.1 14.1s-30.8-4.7-43.1-14.1C176.4 438 123.2 391.5 79.1 338 42.9 294.1 0 233.7 0 165.1 0 91.6 59.6 32 133.1 32 175.8 32 216 52.5 241 87.1l15 20.7 15-20.7z" />
            </svg>
            <p class="like-counter">0</p>
          </div>
        </section>
      </article>

      {% endfor %}
    </section>
  </section>

  <form method="GET" action="/">
    <input type="search" name="search" placeholder="Zoek..." value="{{ search }}">
  </form>
</main>


{% comment %} GSAP AND SCROLL TRIGGER {% endcomment %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"
  integrity="sha512-NcZdtrT77bJr4STcmsGAESr06BYGE8woZdSdEgqnpyqac7sugNO+Tr4bGwGF3MsnEkGKhU2KL2xh6Ec+BqsaHA=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js"
  integrity="sha512-P2IDYZfqSwjcSjX0BKeNhwRUH8zRPGlgcWl5n6gBLzdi4Y5/0O4zaXrtO4K9TZK6Hn1BenYpKowuCavNandERg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="/scripts/script.js"></script>

{% render 'partials/foot.liquid' %}